.merch-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .merchandise {
    width: 250px;
    margin: 20px;
    background-color: white;
    border: 5px solid #ad89ae;
    border-radius: 5px;
    text-align:center;
    padding: 5px;
  }
  
  .merchandise img {
    width: 100%;
    height: auto;
  }
  
  /* Add this CSS to your stylesheet or component */
.merch-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.merch-form-container h2 {
  text-align: center;
}

.merch-form-container form {
  display: flex;
  flex-direction: column;
}

.merch-form-container label {
  margin-bottom: 10px;
}

.merch-form-container input[type="text"],
.merch-form-container input[type="number"],
.merch-form-container select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.merch-form-container input[type="text"]#email {
  text-align: center;
  font-style: italic;
  width: 50px;
}

.merch-form-container button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #ad89ae;
  text-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.merch-form-container button:hover {
  background-color: rgb(155, 113, 155);
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    margin: 0 auto;
  }
  


h2 {
  text-align: left;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

button {
  padding: 10px 15px;
  background-color: rgb(155, 113, 155);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(140, 100, 140);
}

.merch-editor {
  margin-top: 20px;
}

.merch-editor h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.merch-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.merch-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.merch-item-details {
  flex-grow: 1;
}

.merch-item-size {
  font-weight: bold;
}

.merch-item-price {
  margin-top: 5px;
  font-size: 14px;
  color: #777;
}
