.ticket {
  width: 500px;
  margin: 20px;
  background-color: white;
  border: 5px solid #ad89ae;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.ticket-container {
  display: flex;
  align-items: center;
}

.ticket-container img {
  width: 200px;
  margin-right: 20px;
}

.ticket-container .tickets {
  flex-grow: 1;
}

.ticket-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  background-color: rgb(155, 113, 155);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

button:hover {
  background-color: rgb(155, 113, 155);
}

.ticket-container {
  display: flex;
  align-items: center;
}

.image-container {
  margin-right: 20px;
}

.image-container img {
  width: calc(100% - 60px);
}

.tickets {
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  width: 100%;
}

form input,
form select {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

button {
  padding: 8px 12px;
  background-color: rgb(211, 185, 211);
  color: #fff; 
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

button:hover {
  background-color: rgb(155, 113, 155);
}



