.navbar {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 10px;
    margin: 20px;
    background-color: rgb(155, 113, 155);
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.navbar__item {
    flex-basis: 15%;
    justify-content: flex-start;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}


.navbar__link,
.navbar__link:visited,
.navbar__link:focus,
.navbar__link:hover,
.navbar__link:active {
    color: white;
    text-decoration: none;
}

.navbar__link:hover,
.navbar__link:active {
    text-decoration: underline;
}

.dark-mode .navbar {
    box-shadow: 0 10px 20px rgb(215, 42, 42);
}

