.navbar {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 10px;
    margin: 25px 20px;
    background-color: rgb(155, 113, 155);
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.navbar__item {
    flex-basis: 10%;
    justify-content: flex-start;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}


.navbar__link,
.navbar__link:visited,
.navbar__link:focus,
.navbar__link:hover,
.navbar__link:active {
    color: white;
    text-decoration: none;
}

.navbar__link:hover,
.navbar__link:active {
    text-decoration: underline;
}

.dark-mode .navbar {
    box-shadow: 0 10px 20px rgb(215, 42, 42);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 10px;
  }
  
  .navbar__item {
    margin-right: 10px;
    
  }
  
  .navbar__item:last-child {
    margin-right: 0;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 10px;
  }
  
  .switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 10px;
  }
  
  .switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input[type="checkbox"]:checked + .slider {
    background-color: rgb(215, 42, 42);
  }
  
  input[type="checkbox"]:checked + .slider:before {
    transform: translateX(20px);
  }
  
  .dark-mode-label {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  